#criar-tarefa {
    border: 2px solid orange;
    width: 100px;
    height: 20px;
    margin-left: 5px;
    background-color: orange;
    color: white;

}

.liTasks {
    background-color: white;   
}

.completed {
    text-decoration: solid line-through black;
}